<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
</head>
<body>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
</head>
<body>
<div id="app">
	<div class="header">
		<span>修改快递员</span>
	</div>
	<div class="content">
		<table>
			<tr>
				<td class="text-right">手机号码</td><td class="content_right"><input class="input inline-input" id="oldPhone" placeholder="请输入手机号码"> <span class="btn btn-info" id="find">立即查找</span></td>
			</tr>
		</table>
	</div>


	<div class="header">
		<span>查找信息如下</span>
	</div>
	<div class="content">
		<table>
			<tr>
				<td class="text-right">姓名</td><td class="content_right"><input class="input" placeholder="请输入姓名"></td>
			</tr>
			<tr>
				<td class="text-right">手机号码</td><td class="content_right"><input class="input" placeholder="请输入手机号"></td>
			</tr>
			<tr>
				<td class="text-right">身份证号码</td><td class="content_right"><input class="input" placeholder="请输入身份证号"></td>
			</tr>
			<tr>
				<td class="text-right">派件数</td><td class="content_right"><input class="input" placeholder="请输入派件数"></td>
			</tr>
			<tr>
				<td class="text-right">密码</td><td class="content_right"><input class="input" placeholder="请输入新密码"></td>
			</tr>
			<tr>
				<td></td><td class="content_right"><span class="btn btn-info" id="update">立即修改</span>  </td>
			</tr>
		</table>
	</div>
</div>
</body>
<script src="/qrcode/jquery2.1.4.js"></script>
<script src="/layer/layer.js"></script>
<script>
	var token=window.localStorage.getItem("admin");
        $.ajaxSetup({ //发送请求前触发
            contentType:'application/json',
            dataType:'json',
            beforeSend: function (xhr) { //可以设置自定义标头
                console.log("ajax beforesend token:", token)
                xhr.setRequestHeader('Authorization', "Bearer "+token);
            }
        }) 
	$(".header:eq(1),.content:eq(1)").hide();
	var userId = null;
	var oldPhone = null;
	$(function () {
		$("#find").click(function () {
			var windowId = layer.load();
			oldPhone = $("#oldPhone").val();
			$.ajax({
				type:'post',
				url:"http://localhost:8080/e/courier/findCourierByUserPhone",
				contentType:'application/json',
				data:oldPhone,
				success:function(data){
					layer.close(windowId);
					
					if (data.code == 200){
						layer.msg(data.msg);
						$(".header:eq(1),.content:eq(1)").fadeIn(1000);
						userId = data.data.id;
						$("input:eq(0)").val(oldPhone);
						$("input:eq(1)").val(data.data.userName);
						$("input:eq(2)").val(data.data.userPhone);
						$("input:eq(3)").val(data.data.cardId);
						$("input:eq(4)").val(data.data.expressCount);
						$("input:eq(5)").val(data.data.password);
					}else{
						layer.msg(data.data);
					}
				}
			})
		});
	});

	$("#update").click(function () {
		var windowId = layer.load();
		var userName = $("input:eq(1)").val();
		var userPhone = $("input:eq(2)").val();
		var cardId = $("input:eq(3)").val();
		var express_Count = $("input:eq(4)").val();
		var password = $("input:eq(5)").val();
		//手机号如果未改动，则不传递手机号（dao的设计问题）
		var newCourier = {
			id:userId,
			userName:userName,
			userPhone:userPhone,
			password:password,
			cardId:cardId,
			expressCount:express_Count
		}
		$.ajax({
				type:'put',
				url:"http://localhost:8080/e/courier/updateCourier",
				contentType:'application/json',
				data:JSON.stringify(newCourier),
				success:function(data){
					layer.close(windowId);
					if (data){
						layer.msg("修改成功！");
						//修改成功
						$(".header:eq(1),.content:eq(1)").hide();
					}
				}
			})
	});
</script>
</html>
